@import url('https://fonts.googleapis.com/css2?family=orbitron:wght@700&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.04em;
  background-color: #121212;
  color: black;
}

.cyber-header {
  font-family: 'Orbitron', sans-serif;
  color: #ff0033;
  text-align: center;
  font-size: 56px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-top: 0px;
  padding-top: 10px;
  text-shadow:
    0 0 4px #ff0033,
    0 0 10px #ff0033,
    0 0 25px #ff0033;
}
  
.info-bar {
  width: 100%;
  margin-top: 18px;
  padding: 0 24px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  align-items: start;

  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.info-item {
  text-align: center;
  color: #cfcfcf;
  line-height: 1.4;
}

.label {
  color: #8a8a8a;
  margin-right: 6px;
}

.glitch-gold {
  position: relative;
  display: inline-block;
  color: #d4af37
  text-shadow:
    0 0 2px rgba(212, 175, 55, 0.8),
    0 0 6px rgba(212, 175, 55, 0.45);
  animation: gold-glitch-skew 0.18s infinite steps(2, end);
}

.glitch-gold::before,
.glitch-gold::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.glitch-gold::before {
  color: #fff1a8;
  transform: translate(-1px, 0);
  clip-path: inset(0 0 55% 0);
  opacity: 0.8;
  animation: gold-glitch-top 0.11s infinite steps(2, end);
}

.glitch-gold::after {
  color: #ffdf6b;
  transform: translate(1px, 0);
  clip-path: inset(55% 0 0 0):
  opacity: 0.75%;
  animation: gold-glitch-bottom 0.14s infinite steps(2, end);
}

@keyframes gold-glitch-skew {
  0% { transform: translate(0, 0); }
  20% { transform: translate(1px, 0); }
  40% { transform: translate(-1px, 0); }
  60% { transform: translate(1px, -1px); }
  80% { tranform: translate(-1px, 1px); }
  100% { tranform: translate(0, 0); }
}

@keyframes gold-glitch-top {
  0% { transform: translate(0. 0); opacity: 0.7; }
  25% { transform: translate(-2px, -1px); opacity: 0.95; }
  50% { transform: translate(2px, 1px); opacity: 0.55; }
  75% { transform: transalte(-1px, 0); opacity: 0.9; }
  100% { transform: translate(0, 0); opacity: 0.7; }
}

@keyframes gold-glitch-bottom {
  0% { transform: translate(0, 0); opacity: 0.7; }
  25% { transform: transalte(-2px, -1px); opacity: 0.95; }
  50% { transform: translate(-2px, 0); opacity: 0.55; }
  75% { transform: translate(1px, -1px); opacity: 0.9; }
  100% { transform: translate(0, 0); opacity: 0.7; }
}
